@forward "../../../node_modules/@smartupcorp/smarpy/src/sass/cssvariables/index.scss";
@forward "../../../node_modules/@smartupcorp/smarpy/src/sass/base/normalize.scss";

.translate-middle-x {
  transform: translateX(-50%) !important;
}
.translate-middle-y {
  transform: translateY(-50%) !important;
}
.translate-middle {
  transform: translate(-50%, -50%) !important;
}

//#region aspect-ratio

@mixin aspect-ratio-base() {
  contain: strict;
  width: 100%;
  height: auto;
}

.aspect-ratio-square {
  @include aspect-ratio-base();
  aspect-ratio: 1 / 1;
}

.aspect-ratio-paper-landscape {
  @include aspect-ratio-base();
  aspect-ratio: 1.414 / 1;
}

.aspect-ratio-paper-portrait {
  @include aspect-ratio-base();
  aspect-ratio: 1 / 1.414;
}

.aspect-ratio-trading-card-small-landscape {
  @include aspect-ratio-base();
  aspect-ratio: 86 / 59;
}

.aspect-ratio-trading-card-small-portrait {
  @include aspect-ratio-base();
  aspect-ratio: 59 / 86;
}

.aspect-ratio-trading-card-standard-landscape {
  @include aspect-ratio-base();
  aspect-ratio: 88 / 63;
}

.aspect-ratio-trading-card-standard-portrait {
  @include aspect-ratio-base();
  aspect-ratio: 63 / 88;
}

.aspect-ratio-trading-card-arcade-landscape {
  @include aspect-ratio-base();
  aspect-ratio: 81 / 58;
}

.aspect-ratio-trading-card-arcade-portrait {
  @include aspect-ratio-base();
  aspect-ratio: 58 / 81;
}

.aspect-ratio-2-3 {
  @include aspect-ratio-base();
  aspect-ratio: 2 / 3;
}

.aspect-ratio-3-2 {
  @include aspect-ratio-base();
  aspect-ratio: 3 / 2;
}

.aspect-ratio-3-4 {
  @include aspect-ratio-base();
  aspect-ratio: 3 / 4;
}

.aspect-ratio-4-3 {
  @include aspect-ratio-base();
  aspect-ratio: 4 / 3;
}

.aspect-ratio-4-5 {
  @include aspect-ratio-base();
  aspect-ratio: 4 / 5;
}

.aspect-ratio-5-4 {
  @include aspect-ratio-base();
  aspect-ratio: 5 / 4;
}

.aspect-ratio-5-8 {
  @include aspect-ratio-base();
  aspect-ratio: 5 / 8;
}

.aspect-ratio-8-5 {
  @include aspect-ratio-base();
  aspect-ratio: 8 / 5;
}

.aspect-ratio-9-16 {
  @include aspect-ratio-base();
  aspect-ratio: 9 / 16;
}

.aspect-ratio-16-9 {
  @include aspect-ratio-base();
  aspect-ratio: 16 / 9;
}

//#endregion aspect-ratio
